@import 'variables';

main {
	#welcome-div {
		padding: 10em 0.5em 3em;
		text-align: center;

		h1 {
			@extend .font-header;
			font-size: 1.7em;
			color: $dark-2;

			a {
				color: $main-blue;
				&:hover {
					text-decoration: line-through;
				}
			}
		}
	}
	
	#search-bar {
		display: flex;
		justify-content: center;

		div {
			display: flex;
			justify-content: center;
			overflow: hidden;
			border-radius: 1em;
			width: 50vw;

			input[type="text"] {
				@extend .font-body;
				border: none;
				background-color: $dark-2;
				color: $light-1;
				font-size: 1.5em;
				padding: 0.6em;

				min-width: 1vw; // make it shrinkable
				flex-grow: 1; // fill the space
			}

			button {
				@extend .button-hover-class;
				font-size: 1.5em;
				color: $main-blue;
				background-color: $dark-2;
				padding: 0.3em 0.6em;
			}
		}	
	}

	#no-search {
		text-align: center;

		#ss_image {
			height: auto;
			width: 20vw;
			padding-bottom: 2em;
		}
	}
		
	.search-message {
		@extend .font-body;
		width: 100%;
		text-align: center;
		padding: 2em 1em;
		color: $dark-1;
	}

	#results-container {
		margin-top: 3em;

		column-count: 4;
  		column-gap: 0px;

		.gif-div {
			width: 100%; /* fill a column */

			img {
				display: block;
				cursor: pointer;
				width: 100%;
				height: auto;
				border: transparent 0.3em solid;
				
				&:hover {
					border-color: $dark-1;
				}
			}

		}
	}

	#results-info-div {
		display: flex;
		justify-content: center;
		padding: 2em 0;
		font-size: 1.3em;

		& > div {
			text-align: center;
			width: 50%;
			background-color: $dark-2;
			color: $light-1;
			padding: 0 0.2em;
			padding-bottom: 0.8em;

			// next button
			& > button {
				@extend .font-header;
				@extend .button-hover-class;
				width: 100%;
				color: $main-blue;
				font-size: 1.2em;
				padding: 0.5em 0; 
			}

			// current page number and total
			& > p {
				padding-top: 0.5em;
				padding-bottom: 0.2em;
			}

			& > div {
				input {
					@extend .font-body;
					font-size: 1em;
					width: 2.8em;
					margin-left: 0.3em;
				}
				button {
					@extend .font-header;
					@extend .button-hover-class;
					color: $main-blue;
					font-size: 1.3em;
					padding: 0.2em 0.5em;
					margin-left: 0.3em;
				}
			}
		}

	}
}

@media only screen and (max-width: $desktop-bp){
	main {
		#welcome-div {
			padding-top: 9em;
		}
	}
}

@media only screen and (max-width: $tablet-bp){
	main {

		#search-bar {
			div {
				width: 90vw;
			}
		}

		#no-search {
			#ss_image {
				width: 50vw;
			}
		}

		#results-container {
			column-count: 2;
		}

		#results-info-div {
			& > div {
				width: 90%;
			}
		}
	}
}