@import 'variables';

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}
img {
	width: 100%;
}
body {
	overflow-x: hidden;
	overflow-y: scroll;
}
a {
	text-decoration: none;
}
button {
	background-color: transparent;
	border: none;
}

::root {
	font-size: 2vw; /* root text size */
}
::selection {
	color: $main-blue;
	background: $dark-2;
}

#root {
	font-size: 1em; /* default text size (big monitor size) */
	background-color: $light-1;
	@extend .font-body;
}

// only styling for error page
#error-page-div {
	font-size: 2em;
	padding-top: 10em;
	text-align: center;
	width: 100%;

	a {
		text-decoration: underline;
		color: $main-blue;
	}
}

// modal component styling
#modal {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);

	padding: 25vh 25vw 0;

	& > div {
		background-color: $dark-2;
		text-align: center;
		padding: 2em;

		h1 {
			@extend .font-header;
			color: $light-1;
		}

		p {
			padding: 1em 0 2em;
			font-size: 1.5em;
			color: $light-1;
		}

		button {
			@extend .button-hover-class;
			@extend .font-header;
			color: $main-blue;
			font-size: 2em;
			padding: 0.5em;
		}
	}
}


/* Header */
header {
	position: fixed;
	width: 100%;

	#header-bar {
		width: 100%;
		display: flex;
		justify-content: space-between;
		background-color: $dark-2;

		#logo-container {
			width: 16%;
			padding: 0.5em 1em;

			@extend .button-hover-class;
		}

		#nav-toggler {
			color: $main-blue;
			padding: 0.5em 1em;
			font-size: 2.5vw;

			@extend .button-hover-class;
		}
	}

	#nav-div {
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;

		width: 100vw;
		height: 100vh;
		overflow: hidden;
		background-color: rgba(0, 0, 0, 0.5);

		nav {
			background-color: $dark-2;
			display: flex;
			flex-direction: column;

			a {
				color: $main-blue;
				padding: 0.6em 1.5em;
				font-size: 1.4em;

				@extend .button-hover-class;
				@extend .font-header;
			}
		}
	}
	.hidden-nav {
		max-height: 0;
	}
}

/* Body */
main {
	min-height: 100vh; // for all pages
	/*padding-top: 10em;*/
}

/* Footer */
footer {
	background-color: $dark-2;
	text-align: center;

	#copyright-text {
		color: $light-1;
		padding: 1em 0;

		a {
			color: $main-blue;
			&:hover {
				text-decoration: line-through;
			}
		}
	}
}



@media only screen and (max-width: $desktop-bp){
	#root {
		font-size: 1.1em;
	}

	header {
		#header-bar {
			#logo-container {
				width: 25%;
			}
			#nav-toggler {
				font-size: 4vw;
			}
		}
	}
}

@media only screen and (max-width: $tablet-bp){
	#root {
		font-size: 1.2em;
	}

	#modal {
		padding: 20vh 5vw 0;
	}

	header {
		#header-bar {
			#logo-container {
				width: 40%;
			}
			#nav-toggler {
				font-size: 6vw;
			}
		}
	}
}

@media only screen and (max-width: $mobile-bp){
	header {
		#header-bar {
			#logo-container {
				width: 30%;
				padding: 0.5em 1.2em; /* wider button */
			}
			#nav-toggler {
				font-size: 8vw;
				padding: 0.5em 1.3em; /* wider button */
			}
		}
	}
}