@import 'variables';

// only styling for error page
#error-page-div {
	font-size: 2em;
	padding-top: 10em;
	text-align: center;
	width: 100%;

	a {
		text-decoration: underline;
		color: $main-blue;
	}
}

// modal component styling
#modal {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);

	padding: 25vh 25vw 0;

	& > div {
		background-color: $dark-2;
		text-align: center;
		padding: 2em;

		h1 {
			@extend .font-header;
			color: $light-1;
		}

		p {
			padding: 1em 0 2em;
			font-size: 1.5em;
			color: $light-1;
		}

		button {
			@extend .button-hover-class;
			@extend .font-header;
			color: $main-blue;
			font-size: 2em;
			padding: 0.5em;
		}
	}
}

#gif-modal {
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	padding: 5vh 10vw 0;

	#gif-modal-content {
		background-color: $dark-2;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-height: 90vh;
		overflow-y: scroll;

		.close-button-div {
			align-self: stretch;
			text-align: left;
			margin-bottom: 1em;

			button {
				@extend .button-hover-class;
				color: $red;
				padding: 0.5em 1em;
				font-size: 1.5em;
			}
		}
			
		#gif-info {
			width: 100%;
			text-align: center;

			h1 {
				@extend .font-header;
				color: $light-1;
				font-size: 1.3em;
				padding: 0.5em;
			}
			img {
				width: 70%;
			}
		}

		// collections container
		#add-to-collections-div {
			display: flex;
			flex-direction: column;
			margin: 2em 0;
			width: 28em;

			#not-logged-in {
				color: $light-1;
				font-size: 1.5em;
				text-align: center; 
				a {
					color: $main-blue;
					&:hover {
						text-decoration: line-through;
					}
				}
			}

			.add-collection-item {
				display: flex;
				align-items: center;

				// lighter background for every even item
				&:nth-child(2n){
					background-color: rgba(100, 100, 100, 0.1);
				}

				h3 {
					color: $light-1;
					flex-grow: 1;
					font-size: 1.2em;
					padding: 0.3em 0.7em;
				}

				button {
					font-size: 1.3em;
					padding: 0.7em;

					&.enabled-btn {
						@extend .button-hover-class;
						color: $main-blue;
					}
					&:disabled {
						color: $green;
					}
				}
			}

			#create-collection-btn {
				@extend .button-hover-class;
				color: $main-blue;
				font-size: 1.2em;
				padding: 0.5em;
			}
		}
		
	}
}
#gif-modal-loading {
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	padding: 35vh 0;
	text-align: center;
	color: $light-1;
	font-size: 3em;
}

// collection modal actual has its own page
#collection-modal {
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100vw;
	
	background-color: $dark-2;

	display: flex;
	flex-direction: column;

	#collection-modal-content {
		overflow-y: scroll;

		#collection-modal-buttons-div {
			display: flex;
			justify-content: space-between;

			a, button {
				@extend .button-hover-class;
				font-size: 1.2em;
				padding: 0.7em 2em;
			}

			a {
				color: $main-blue;
			}
			// toggle mode button
			button {
				color: $red;
				&.delete-mode-on {
					color: $dark-2;
					background-color: $red;
				}
			}
		}

		h1 {
			text-align: center;
			color: $light-1;
			font-size: 1.5em;
			padding: 0.7em 0.5em;
		}

		// no-gif note and delete-mode note 
		p {
			text-align: center;
			color: $red;
			font-size: 1em;
			margin-bottom: 1em;
		}

		#collection-modal-gifs-container {
			background-color: $light-1;
			padding: 3em 1em;
			
			column-count: 4;
	  		column-gap: 0px;

			.gif-div {
				width: 100%; /* fill a column */

				img {
					display: block;
					cursor: pointer;
					width: 100%;
					height: auto;
					border: transparent 0.3em solid;

					&:hover {
						border-color: $dark-1;
					}

					&.delete-mode-on:hover {
						border-color: $red !important;
					}
				}
			}
		}
	}
}	



/* Header */
header {
	position: fixed;
	width: 100%;

	#header-bar {
		width: 100%;
		display: flex;
		justify-content: space-between;
		background-color: $dark-2;

		#logo-container {
			width: 16%;
			padding: 0.5em 1em;

			@extend .button-hover-class;
		}

		#nav-toggler {
			color: $main-blue;
			padding: 0.5em 1em;
			font-size: 2.5vw;

			@extend .button-hover-class;
		}
	}

	#nav-div {
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;

		width: 100vw;
		height: 100vh;
		overflow: hidden;
		background-color: rgba(0, 0, 0, 0.5);

		nav {
			background-color: $dark-2;
			display: flex;
			flex-direction: column;

			a {
				color: $main-blue;
				padding: 0.6em 1.5em 0.6em 1em;
				font-size: 1.4em;

				@extend .button-hover-class;
				@extend .font-header;
			}
		}
	}
	.hidden-nav {
		max-height: 0;
	}
}

/* Body */
main {
	min-height: 100vh; // for all pages
	/*padding-top: 10em;*/
}

/* Footer */
footer {
	background-color: $dark-2;
	text-align: center;

	#copyright-text {
		color: $light-1;
		padding: 1em 0;

		a {
			color: $main-blue;
			&:hover {
				text-decoration: line-through;
			}
		}
	}
}



@media only screen and (max-width: $desktop-bp){
	#root {
		font-size: 1.1em;
	}

	header {
		#header-bar {
			#logo-container {
				width: 25%;
			}
			#nav-toggler {
				font-size: 4vw;
			}
		}
	}
}

@media only screen and (max-width: $tablet-bp){
	#root {
		font-size: 1.2em;
	}

	#modal {
		padding: 20vh 5vw 0;
	}

	header {
		#header-bar {
			#logo-container {
				width: 40%;
			}
			#nav-toggler {
				font-size: 6vw;
			}
		}
	}

	#gif-modal {
		padding: 5vh 5vw 0;

		#gif-modal-content {
			#gif-info {
				img {
					width: 90%;
				}
			}
			#add-to-collections-div {
				width: 100%;
			}
		}
	}

	#collection-modal {
		#collection-modal-content {
			#collection-modal-buttons-div {
				button {
					padding: 0.5em 1em;
				}
			}

			#collection-modal-gifs-container {
				padding: 3em 0.5em;
				column-count: 2;
		  	}
		}
	}
}

@media only screen and (max-width: $mobile-bp){
	header {
		#header-bar {
			#logo-container {
				width: 30%;
				padding: 0.5em 1.2em; /* wider button */
			}
			#nav-toggler {
				font-size: 8vw;
				padding: 0.5em 1.3em; /* wider button */
			}
		}
	}
}