/* color vars */
$main-blue: #00a2ff;
$dark-1: #151515;
$dark-2: #222222;
$light-1: #dfdfdf;

/* breakpoints (default is bigger than desktop) */
$desktop_bp: 1200px;
$tablet_bp: 760px;
$mobile_bp: 580px;

/* font family classes */
.font-header {
	font-family: 'Offside';
}
.font-body {
	font-family: 'Ruluko';
}


/* color interaction for buttons */
.hover-and-active-class {
	&:hover {
		background-color: $dark-1;
	}
	
}
