/* color vars */
$main-blue: #00a2ff;
$dark-1: #121212;
$dark-2: #222;
$light-1: #cdcdcd;
$light-2: #eee;

/* breakpoints (default is bigger than desktop) */
$desktop_bp: 1200px;
$tablet_bp: 760px;
$mobile_bp: 580px;

/* font family classes */

