/* color vars */
$main-blue: #00a2ff;
$dark-1: #151515; // darkest
$dark-2: #222222;
$light-1: #dfdfdf;
$green: #7aff52;
$red: #ff6363;

/* breakpoints (default is bigger than desktop) */
$desktop_bp: 1200px;
$tablet_bp: 760px;
$mobile_bp: 580px;

/* font family classes */
.font-header {
	font-family: 'Offside';
}
.font-body {
	font-family: 'Ruluko';
}


/* color interaction for buttons */
.button-hover-class {
	cursor: pointer;
	
	&:hover {
		background-color: $dark-1;
	}
}


/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	width: 100%;
}
html {
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
	overflow-y: scroll;
}
a {
	text-decoration: none;
}
button {
	@extend .font-body;
	background-color: transparent;
	border: none;
}

::root {
	font-size: 2vw; /* root text size */
}
::selection {
	color: $main-blue;
	background: $dark-2;
}

#root {
	font-size: 1em; /* default text size (big monitor size) */
	background-color: $light-1;
	@extend .font-body;
}