@import '../variables';

#community-main {
	padding-top: 7em;

	h1 {
		@extend .font-header;
		padding: 1.8em 0;
		font-size: 1.8em;
		text-align: center;
	}

	#no-users-text {
		text-align: center;
		color: $dark-2;
		font-size: 1.5em;
	}

	#users-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 3em;
		background-color: $dark-2;

		.user-item {
			@extend .button-hover-class;
			margin: 1em;
			width: 10em;

			img {
				width: 100%;
			}

			h3 {
				text-align: center;
				color: $main-blue;
				padding: 0.5em;
			}
		}
	}
}

@media only screen and (max-width: $tablet-bp){
	#community-main {
		#users-container {
			.user-item {
				width: 7em;
				margin: 0.3em;
			}
		}
	}	
}