@import '../variables';

#myProfile-main {
	display: flex;
	flex-direction: row;

	#profile-info-section {
		background-color: $dark-2;
		width: 15em;
		padding-top: 10em;
		text-align: center;

		// user name
		& > h1 {
			@extend .font-header;
			color: $light-1;
			font-size: 1.2em;
		}

		#avatar-div {
			width: 100%;
			
			// avatar
			img {
				width: 70%;
				margin: 0.7em 0;
			}
			// Selecting elements based on structure
			#avatar-setting-div {
				min-height: 7em; // showing setting won't change height
				// all buttons
				button {
					@extend .button-hover-class;
					font-size: 1.5em;
					color: $light-1;
					padding: 0.5em;
				}

				// gear icon button
				& > button {
					width: 100%;
				}

				// randomize button div
				div:nth-child(1) {
					button {
						width: 100%;
					}
				}
				// apply and cancel buttons div
				div:nth-child(2) {
					display: flex;

					// both buttons stretch to fill the row
					button {
						flex-grow: 1;
						&:nth-child(1){
							color: #7aff52;
						}
						&:nth-child(2){
							color: #ff6363;
						}
					}

				}
			}
		}

		#logout-button {
			@extend .button-hover-class;
			@extend .font-body;
			width: 100%;
			color: #ff6363;
			font-size: 1.5em;
			padding: 0.5em 0;
			margin-top: 2em;
		}
	}

	#profile-contents-section {
		flex-grow: 1; // fill space
		padding-top: 10em;
		color: $dark-2;
		text-align: center;

		#collections-section {
			// header
			& > h1 {
				@extend .font-header;
				font-size: 2em;
			}

			#collections-container {
				background-color: $dark-2;
				margin: 1.5em 2em 2.5em;

				.collection-item {
					display: flex;
					
					// both buttons
					button {
						@extend .button-hover-class;
						@extend .font-body;
						color: $light-1;
						font-size: 1.2em;

						&:hover {
							color: $main-blue;
						}
					}

					.collection-title {
						text-align: left;
						flex-grow: 1;
						padding: 0.7em 1em;
					}
					
					.collection-edit {
						padding: 0.7em;
					}
				}

				#create-collection-button {
					@extend .button-hover-class;
					@extend .font-body;
					color: $light-1;
					font-size: 1.2em;
					width: 100%;
					padding: 0.7em;
					&:hover {
						color: $main-blue;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: $tablet-bp){
	#myProfile-main {
		flex-direction: column;

		#profile-info-section {
			width: 100%; // full width

			h1 {
				font-size: 7vw;
			}
			#avatar-div {
				#avatar-setting-div {
					// bigger setting buttons
					button {
						font-size: 8vw;
					}
				}
			}
			form {
				#logout-button {
					font-size: 6vw;
				}
			}
		}

		#profile-contents-section {
			padding-top: 3.5em; // no longer need to leave space for navbar

			#collections-section {
				#collections-container {
					margin-left: 0.7em;
					margin-right: 0.7em;
				}
			}
		}
	}
}