@import '../variables';

#myProfile-main {
	display: flex;
	flex-direction: row;

	#profile-info-section {
		background-color: $dark-2;
		width: 15em;
		padding-top: 10em;
		text-align: center;

		// user name
		& > h1 {
			@extend .font-header;
			color: $light-1;
			font-size: 1.2em;
		}

		#avatar-div {
			width: 100%;
			
			// avatar
			img {
				width: 70%;
				margin: 0.7em 0;
			}
			// Selecting elements based on structure
			#avatar-setting-div {
				min-height: 7em; // showing setting won't change height
				// all buttons
				button {
					@extend .button-hover-class;
					font-size: 1.5em;
					color: $light-1;
					padding: 0.5em;
				}

				// gear icon button
				& > button {
					width: 100%;
				}

				// randomize button div
				div:nth-child(1) {
					button {
						width: 100%;
					}
				}
				// apply and cancel buttons div
				div:nth-child(2) {
					display: flex;

					// both buttons stretch to fill the row
					button {
						flex-grow: 1;
						&:nth-child(1){
							color: $green;
						}
						&:nth-child(2){
							color: $red;
						}
					}

				}
			}
		}

		#logout-button {
			@extend .button-hover-class;
			@extend .font-body;
			width: 100%;
			color: $red;
			font-size: 1.5em;
			padding: 0.5em 0;
			margin-top: 2em;
		}
	}

	#profile-contents-section {
		flex-grow: 1; // fill space
		padding-top: 10em;
		color: $dark-2;
		text-align: center;

		.content-header {
			@extend .font-header;
			font-size: 1.8em;
		}

		#friends-section {
			#friends-container {
				background-color: $dark-2;
				display: flex;
				flex-direction: column;
				text-align: left;
				margin: 1.5em 3.5em 4em;

				.sub-header {
					text-align: center;
					background-color: $dark-1;
					color: $light-1;
					font-size: 1.2em;
					padding: 0.5em 0;
				}

				.empty-placeholder {
					color: $red;
					font-size: 1.2em;
					padding: 0.5em 1em;
				}

				// contains avatar and a div
				.friend-item {
					display: flex;
					flex-direction: row;
					padding: 0.7em 0;

					& > img {
						width: 5em;
						margin: 0 1em;
					}

					& > div {
						display: flex;
						flex-direction: column;
						flex-grow: 1;

						// user name
						& > a {
							cursor: pointer;
							word-break: break-all; // prevents overflow
							color: $main-blue;
							font-size: 1.2em;
							padding: 0.5em 0.5em;
							
							&:hover {
								text-decoration: line-through;
							}
						}
						// buttons div
						& > div {
							display: flex;
							align-items: flex-end;
							justify-content: flex-end;
							flex-grow: 1;

							button {
								@extend .button-hover-class;
								@extend .font-body;
								font-size: 1.2em;
								padding: 0.5em;
								margin-right: 1em;

								&.green-btn {
									color: $green;
								}
								&.red-btn {
									color: $red;
								}
							}
						}
					}
					
				}
			}
		}

		#collections-section {

			#collections-container {
				background-color: $dark-2;
				margin: 1.5em 3.5em 4em;

				.collection-item {
					display: flex;
					
					// both buttons (the displaying collection item)
					button {
						@extend .button-hover-class;
						@extend .font-body;
						color: $light-1;
						font-size: 1.2em;
					}

					.collection-title {
						text-align: left;
						flex-grow: 1;
						padding: 0.7em 1em;
					}
					
					.collection-edit {
						padding: 0.7em;
					}
				}

				#create-collection-button {
					@extend .button-hover-class;
					@extend .font-body;
					color: $light-1;
					font-size: 1.2em;
					width: 100%;
					padding: 0.7em;
					&:hover {
						color: $main-blue;
					}
				}

				#collection-edit-modal {
					position: fixed;
					z-index: 8;
					left: 0;
					top: 0;
					width: 100vw;
					height: 100vh;
					background-color: rgba(0,0,0,0.5);
					padding: 20vh 25vw 0;

					& > div {
						background-color: $dark-2;
						color: $light-1;
						padding: 2em;

						#remove-btn-container {
							width: 100%;
							display: flex;
							justify-content: flex-end;
							margin-bottom: 2em;

							button {
								@extend .button-hover-class;
								@extend .font-body;
								color: $red;
								font-size: 1em;
								padding: 0.5em;
							}
						}

						#edit-form {
							display: flex;
							flex-direction: column;
							align-items: center;
							font-size: 2em;


							input, select {
								@extend .font-body;
								background-color: $dark-1;
								color: $main-blue;
								border: none;

								font-size: 0.7em;
								padding: 0.3em;
								margin: 0.3em 0 1em;
							}
							input {
								width: 65%;
							}
							select {
								cursor: pointer;
							}

							& > div {
								width: 100%;
								display: flex;
								justify-content: space-around;

								button {
									@extend .button-hover-class;
									@extend .font-body;
									padding: 0.5em;
									font-size: 0.7em;

									// save button
									&:nth-child(1) {
										color: $green;
									}
									// cancel button
									&:nth-child(2) {
										color: $red;
									}
								}
							}

						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: $tablet-bp){
	#myProfile-main {
		flex-direction: column;

		#profile-info-section {
			width: 100%; // full width

			h1 {
				font-size: 7vw;
			}
			#avatar-div {
				#avatar-setting-div {
					// bigger setting buttons
					button {
						font-size: 8vw;
					}
				}
			}
			form {
				#logout-button {
					font-size: 6vw;
				}
			}
		}

		#profile-contents-section {
			padding-top: 3.5em; // no longer need to leave space for navbar

			#friends-section {
				#friends-container {
					margin: 1.5em 0.7em 4em;

					.friend-item {
						& > img {
							// smaller image
							width: 4em;
							margin: 0 0.5em;
						}
						& > div {
							& > div {
								button {
									font-size: 0.9em; // smaller buttons
								}
							}
						}
					}
				}
			}

			#collections-section {
				#collections-container {
					margin-left: 0.7em;
					margin-right: 0.7em;

					#collection-edit-modal {
						padding: 20vh 5vw 0; // expand modal

						& > div {
							padding: 1em; // leave more space for contents
							#edit-form {
								input {
									width: 90%; // expand text input
								}
							}
						}
					}
				}
			}
		}

	}
}